@media only screen and (max-width: 1485px) {
  .container {
    max-width: 88%;
  }

  nav,
  .nav__text {
    gap: 25px;
  }
}

@media only screen and (max-width: 1234px) {
  .container {
    max-width: 80%;
  }

  nav img {
    display: none;
  }

  .nav__link {
    color: whitesmoke;
  }

  nav {
    position: fixed;
    transition: left 2s ease; 
    z-index: 1;
    width: 25rem;
    height: 50rem;
    flex-direction: column;
    background-color: #22BFAC;
    box-shadow: 5px 5px 5px 5px inset rgba(0, 0, 0, 0.429);
    margin: 0 auto;
    border-radius: 0.5rem;
  }

  .nav__text {
    position: relative;
    flex-direction: column;
    right: 2rem;
    color: whitesmoke;
    margin-top: 0.5rem;
  }

  #input__nav {
    position: relative;
    left: 2rem;
  }

  #btn__login {
    position: relative;
    right: 1.5rem;
  }

  .header__icon {
    font-size: 1.8rem;
    display: block;
    cursor: pointer;
    margin-top: 0.3rem;
    position: fixed;
    top: 0;
    
  }

  .hearder__nav {
    display: flex;
    gap: 20rem;
  }

  #header__text {
      margin-top: 0.5rem;
  }
}
